<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="livrosApp">
    <head>
        <title>Livraria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <style>
        body{
            background: url(img/livros2.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 1;
        }
        form{
            background-color: whitesmoke;
        }

        table{
            background-color: whitesmoke;
        }
        h1{
            background-color: white;
        }  
        h2{
            background-color: white;
        }   



    </style>
    <body ng-controller="livrosController" >
        <!--Cadastro-->
        <div class="container text-center">
            <h1 class="col-lg-12 col-lg-offset-12">Livraria</h1>
            <br>
            <br>
            <!--  <img src="img/livros.jpg" alt="livros" width="1200" height="177" class="col-lg-12 col-lg-offset-12"> -->
            <br>
            <br>

            <br>
            <br>

            <form class="form-group">                 
                <div class="border border-warning "  >
                    <h2>Cadastro de livros</h2>
                    <br>
                    <label for="codigo">Código ISBN :</label>  
                    <input class="col-lg-4" class="form-control" id="codigo" name="codigo" type="text" ng-model="livro.id"/>
                    <br>
                    <br>
                    <label for="descricao">Descrição :</label>  
                    <input class="col-lg-4" class="form-control" id="descricao" name="descricao" type="text" ng-model="livro.descricao" required/>
                    <br>
                    <br>
                    <label for="preco">Preço :</label>  
                    <input class="col-lg-4" class="form-control" id="preco" name="preco" type="text" ng-model="livro.preco" required/>
                    <br>
                    <br>
                    <button class="btn btn-primary" ng-click="salvar(livro)" ng-disabled="!livro.descricao || !livro.preco"> Salvar</button>
                    <button class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
                    <br>
                </div>
            </form>
            <br>
            <br>
            <br>
            <br>
            <!--Tabela de precos-->
            <div class="container text-center">
                <h2>Tabela de preços</h2>
                <table class="container text-center" border="2px" bordercolor="black">
                    <thead>
                        <tr>
                            <th>Código ISBN </th>
                            <th>Descrição </th>
                            <th>Preço </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="livro in livros track by $index">
                            <td>{{livro.id}}</td>
                            <td>{{livro.descricao}}</td>
                            <td>{{livro.preco}}</td>
                            <td><a href="" ng-click="editar(livro)">Editar</a></td>
                            <td><a href="" ng-click="excluir(livro)">Excluir</a></td>
                        </tr>

                    </tbody>
                </table>
                <br>
                <br>
            </div>

            <script src="js/angular.min.js"></script>
            <script src="js/app.js"></script>
            <script src="lib/ionic/js/ionic.bundle.js"></script>
            <script src="cordova.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>
